<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @vehicle.id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>

<p>
  <strong>Registraton:</strong>
  <%= @vehicle.registraton %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
